Options +FollowSymLinks

RewriteEngine On


RewriteRule ^Home$                           index.php?identificador=1
RewriteRule ^Nosotros$                       index.php?identificador=2
RewriteRule ^DirectorioComercial$            index.php?identificador=3
RewriteRule ^Contacto$                       index.php?identificador=4
RewriteRule ^EnviarContacto$                 index.php?identificador=6


RewriteRule ^(.*)\_.*.-.html$                index.php?identificador=15&id=$1


RewriteRule ^logout$                         index.php?identificador=990
RewriteRule ^salir$                          index.php?identificador=991
RewriteRule ^humans.txt$                     index.php?identificador=994
RewriteRule ^googleca2ead9fc0f8cf01.html$    index.php?identificador=995
RewriteRule ^robots.txt$                     index.php?identificador=996
RewriteRule ^sitemap.xml$                    index.php?identificador=997
RewriteRule ^preguntas-frecuentes$           index.php?identificador=998
RewriteRule ^(.*)\_politicas$                index.php?identificador=999&id=$1

